<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= camp._id %>?_method=PUT"
      method="POST"
      class="validated-form"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= camp.title %>"
          placeholder="Type title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= camp.location %>"
          placeholder="Type location"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control mb-3"
          type="text"
          id="image"
          name="campground[image]"
          value="<%= camp.image %>"
          placeholder="Type image URL"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <img src="<%= camp.image %>" alt="" class="img-fluid col-10 offset-1" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="campground[price]"
            value="<%= camp.price %>"
            aria-label="Amount (to the nearest dollar)"
            aria-describedby="price-label"
            required
          />
          <span class="input-group-text">.00</span>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <div class="input-group">
          <textarea
            class="form-control"
            id="description"
            name="campground[description]"
            aria-label="description"
            required
          >
 <%= camp.description %> </textarea
          >
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Edit</button>
      </div>
    </form>
    <a href="/campgrounds/<%= camp._id %>">Return</a>
  </div>
</div>
